/* Logo */
.logo span {
  padding-left: 10px;
}

/* landing page */
.container-landing .lp-h1 {
  font-size: 3rem;
}

.container-landing .lp-p {
  font-size: 1.2rem;
}

/* common styles */
.text-right {
  text-align: right;
}

/* aside bar */
.aside-primary a {
  border-bottom: 1px solid #ddd;
}

.tasks-table table th:nth-child(2) {
  width: 25%;
}
/* .tasks-table table th:nth-child(3) {
  width: 40%;
} */
.tasks-table table th:nth-child(5),
.tasks-table table th:nth-child(6) {
  width: 9%;
}

/* Sign in */
.form-signin {
  width: 100%;
  max-width: 480px;
  padding: 15px;
  margin: auto;
}
