/* Logo */
.logo span {
  padding-left: 10px;
}

/* landing page */
.container-landing .lp-h1 {
  font-size: 3rem;
}

.container-landing .lp-p {
  font-size: 1.2rem;
}

/* common styles */
.text-right {
  text-align: right;
}

/* aside bar */
.aside-primary a {
  border-bottom: 1px solid #ddd;
}

/* Sign in */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"].br-0 {
  border-radius: 0;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
} 

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}